@{
    ViewBag.Title = "About";
}

    <div class="row" style="margin-top:6rem">
        <h2>Transporte Turistico Servicios Multiples</h2>
        <div class="col-md-12">
            <p>
                <strong>¿Que hace una Empresa de turismo?</strong><br /><br />
                La empresa turística o también conocida como empresa de turismo, brinda los servicios necesarios para los clientes que requieren viajar por necesidad o por diversión, a los que se les denomina turistas.<br /><br />

                Los turistas solicitan los servicios de una empresa de turismo cuando:<br />
                • Salen a vacacionar.<br />
                • Viajan motivados para la educación y formación.<br />
                • Asisten a viajes de negocios, congresos, entre otros.<br /><br />

                La empresa de turismo se conforma a su vez por otras compañías que complementan sus servicios, como son:<br />
                • Empresas de alojamiento: hoteles, turismo rural, camping, tiempo compartido.<br />
                • Empresas distribuidoras-agencias de viaje, tours, operadores, entre otros.<br />
                • Empresas de transporte y auxiliares: compañías aéreas, marítimas y terrestres.<br />
                • Empresas de esparcimiento, recreo y cultura: museos, parques temáticos, casinos, deportivos, campos de golf, balnearios, entre otros.<br />
                • Empresas de servicios financieros y seguros especializados en el sector turístico.<br />
                • Empresas comerciales y auxiliares, dedicadas a la producción o comercialización de bienes que van dirigidos  turistas.<br />
                • Restauración: cafeterías, restaurantes, fast food, catering, entre otros.<br />
            </p>
            <p>
                <strong>Características generales de la empresa turística</strong><br /><br />
                La empresa turística presenta una serie de características generales importantes, entre las que destacan:<br />
                • La actividad de la empresa turística está definida por lugares y periodos. De acuerdo a la temporada, las actividades y promociones variarán durante el año.<br />
                • La empresa turística se debe encontrar cerca del recurso turístico y con complejos desarrollados exclusivamente para dicho fin.<br />
                • Los precios, promociones e intercambios están sujetos de acuerdo a la oferta y demanda de los servicios.<br />
                • La planeación de la empresa de turismo se enfoca a todas las actividades y servicios que son necesarios para estos lugares.<br />
                • La empresa turística debe atender a una variedad y cantidad de clientes, por lo que se debe de ajustar a las necesidades de cada cliente.<br />
                • La empresa del turismo tiene un fuerte índice de generación de empleo, formación de su personal, y contacto directo todo el tiempo con los clientes.<br />
            </p>
        </div>
    </div>
<div class="col-md-12" style="margin-top:6rem"></div>


