@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:12rem">
    <div class="col-md-12">
        <img src="../Imagenes/Logo.jpeg" class="img-responsive center-block" />
    </div>
</div>
<div class="col-md-12" style="margin-top:6rem"></div>